<div class="navigation_admin">
	<div class="top_nav_bar_admin">
		<div class="left bar_admin">
			<svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
			</svg>
		</div>
		<div class="right" x-data="{open:false}">
			<div class="user" @click="open= !open">
				<strong>Ripley Ellen</strong>
				<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AccountOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
					<path fill-rule="evenodd" d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"></path>
				</svg>
			</div>
			<div class="profile" x-show="open" style="display:none;" @click.outside="open= false">
				<strong>Ripley Ellen</strong>
				<div class="links">
					<a href="">
						<div class="item">
							<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AccountOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
								<path fill-rule="evenodd" d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"></path>
							</svg>
                            <span>Profile</span>
						</div>
					</a>
					<a href="">
						<div class="item">
							<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"></path>
                                </svg>
                            <span>Se déconnecter</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="left_nav_bar_admin">
		<div class="factory">
			<div class="logo">
				<img src="/images/factory8.jpg" alt="">
			</div>
			<div class="name">
				<span>OXY</span>
			</div>
		</div>
        {% set currentLink = "" %}
        {% if app.request.get("_route") == "app_admin_factory" %}
            {% set currentLink = "currentLink" %}
        {% endif %}
		<div class="container_sub_item">
			<div class="items_sub_item">
				<a href="{{path('app_admin_factory')}}">
					<div class="item_link {{currentLink}}">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" width="20px" height="20px" viewbox="0 0 512 512" version="1.1" xml:space="preserve">

							<g id="Factory">

								<g id="XMLID_1612_">

									<path d="M2,236.601V467h112.309l28.713-265.268L2,236.601z M90,370.037c0,5.502-4.46,9.963-9.963,9.963H36.963    C31.46,380,27,375.54,27,370.037v-76.075c0-5.502,4.46-9.963,9.963-9.963h43.075c5.502,0,9.963,4.46,9.963,9.963V370.037z" id="XMLID_1615_"/>

									<rect height="45" id="XMLID_1888_" width="78" x="219" y="152"/>

									<rect height="141" id="XMLID_1889_" width="78" x="219" y="325"/>

									<rect height="23" id="XMLID_1890_" width="98" x="209" y="45"/>

									<rect height="55" id="XMLID_1891_" width="24" x="47" y="304"/>

									<rect height="55" id="XMLID_1892_" width="24" x="445" y="304"/>

									<path d="M373.016,202.282L401.668,467H510V236.578L373.016,202.282z M488,370.037    c0,5.502-4.46,9.963-9.963,9.963h-43.075c-5.502,0-9.963-4.46-9.963-9.963v-76.075c0-5.502,4.46-9.963,9.963-9.963h43.075    c5.502,0,9.963,4.46,9.963,9.963V370.037z" id="XMLID_1895_"/>

									<path d="M350.814,186.498c0.095-0.383,0.217-0.64,0.353-1L340.623,88h-23.378H198.732h-23.377l-40.942,378H199    V314.987c0-5.502,5.005-9.987,10.506-9.987h96.964c5.502,0,10.529,4.485,10.529,9.987V466h64.564l-29.43-271.947    C350.682,191.816,350.117,189.29,350.814,186.498z M316,207.037c0,5.502-4.46,9.963-9.963,9.963h-97.075    c-5.502,0-9.963-4.46-9.963-9.963v-65.075c0-5.502,4.46-9.963,9.963-9.963h97.075c5.502,0,9.963,4.46,9.963,9.963V207.037z" id="XMLID_1898_"/>

								</g>

							</g>

							<g id="Layer_1"/>

						</svg>
						<span>Gestion entreprises</span>
					</div>
				</a>
				<a href="">
					<div class="item_link">
						<svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Layer_1" viewbox="0 0 166.781 166.781" xml:space="preserve">
							<g>
								<g>
									<g>
										<path d="M163.451,70.046l-32.35-20.847c-0.253-0.161-0.532-0.222-0.804-0.312v-7.19c0-1.92-1.554-3.475-3.475-3.475H113.92     L86.97,21.378c-1.126-0.706-2.558-0.706-3.685,0l-26.95,16.844H39.958c-1.92,0-3.475,1.554-3.475,3.475v7.188     c-0.272,0.09-0.552,0.152-0.804,0.314L3.329,70.046c-0.991,0.641-1.592,1.741-1.592,2.921v90.339c0,1.92,1.554,3.475,3.475,3.475     h156.356c1.92,0,3.475-1.554,3.475-3.475V72.968C165.043,71.787,164.442,70.688,163.451,70.046z M85.128,28.423l15.681,9.799     H69.447L85.128,28.423z M43.433,45.171h79.915v78.178c0,0.01,0.006,0.018,0.006,0.029l-11.754,7.137l-28.284-15.427     c-1.055-0.57-2.338-0.567-3.386,0.034l-25.81,14.749l-10.692-6.492c0-0.01,0.006-0.018,0.006-0.028L43.433,45.171z M8.687,74.861     l27.796-17.91v62.212L8.687,102.285V74.861z M8.687,110.412l38.537,23.397L8.687,155.831V110.412z M15.689,159.833l66.005-37.715     l69.145,37.715H15.689z M158.094,155.874L118.65,134.36l39.444-23.949V155.874z M158.094,102.285l-27.797,16.877V56.951     l27.797,17.911V102.285z"/>
										<path d="M57.331,79.917h41.695c1.92,0,3.475-1.554,3.475-3.475V55.595c0-1.92-1.554-3.475-3.475-3.475H57.331     c-1.92,0-3.475,1.554-3.475,3.475v20.847C53.856,78.363,55.411,79.917,57.331,79.917z M60.805,59.069h34.746v13.898H60.805     V59.069z"/>
										<rect x="53.856" y="86.866" width="55.593" height="6.949"/>
										<rect x="53.856" y="100.765" width="55.593" height="6.949"/>
										<path d="M147.67,41.697c0.889,0,1.778-0.339,2.457-1.018l12.283-12.283c1.357-1.357,1.357-3.556,0-4.913     c-1.357-1.358-3.556-1.357-4.913,0l-12.283,12.283c-1.357,1.357-1.357,3.556,0,4.913     C145.892,41.358,146.781,41.697,147.67,41.697z"/>
										<path d="M16.654,40.679c0.679,0.679,1.568,1.018,2.457,1.018c0.889,0,1.778-0.339,2.457-1.018c1.357-1.357,1.357-3.556,0-4.913     L9.284,23.483c-1.357-1.357-3.556-1.357-4.913,0c-1.357,1.357-1.357,3.556,0,4.913L16.654,40.679z"/>
										<path d="M118.584,24.076c0.421,0.17,0.859,0.247,1.289,0.247c1.378,0,2.684-0.825,3.227-2.185l6.949-17.373     c0.713-1.781-0.156-3.804-1.937-4.516c-1.764-0.709-3.804,0.149-4.516,1.937l-6.949,17.373     C115.934,21.341,116.802,23.364,118.584,24.076z"/>
										<path d="M47.155,22.139c0.543,1.361,1.849,2.185,3.227,2.185c0.431,0,0.869-0.078,1.289-0.248     c1.781-0.713,2.65-2.735,1.937-4.516L46.659,2.187c-0.713-1.788-2.748-2.647-4.516-1.937c-1.781,0.713-2.65,2.735-1.937,4.516     L47.155,22.139z"/>
									</g>
								</g>
							</g>
						</svg>
						<span>Gestion newsletter</span>
					</div>
				</a>
				<div class="item_parent" x-data="{open:false}">
					<div class="header_item_parent" @click="open= !open">
						<div class="left">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="20px" width="20px" version="1.1" id="Capa_1" viewbox="0 0 467.66 467.66" xml:space="preserve">
								<path d="M467.451,189.327L428.066,25.835c-0.812-3.369-3.825-5.744-7.291-5.744H46.885c-3.466,0-6.479,2.375-7.291,5.744  L0.209,189.327c-0.539,2.234-0.022,4.592,1.399,6.397c1.422,1.805,3.594,2.859,5.892,2.859h23.095v241.485  c0,4.142,3.357,7.5,7.5,7.5h391.48c4.143,0,7.5-3.358,7.5-7.5V198.584h23.085c2.298,0,4.47-1.054,5.892-2.859  C467.474,193.919,467.99,191.561,467.451,189.327z M303.448,314.077c-4.143,0-7.5,3.358-7.5,7.5v30.582h-6.749v-55.497  c0-18.195,14.803-32.998,32.998-32.998s32.998,14.803,32.998,32.998v55.497h-6.749v-30.582c0-4.142-3.357-7.5-7.5-7.5  s-7.5,3.358-7.5,7.5v30.582h-22.498v-30.582C310.948,317.435,307.591,314.077,303.448,314.077z M322.197,248.664  c-8.27,0-15.675-4.275-19.81-11.437l-4.87-8.436h49.359l-4.871,8.436C337.871,244.388,330.467,248.664,322.197,248.664z   M362.695,367.159c4.143,0,7.5-3.358,7.5-7.5v-62.997c0-17.725-9.665-33.225-23.995-41.538c3.457-2.848,6.45-6.334,8.796-10.397  l11.366-19.686c1.34-2.32,1.34-5.179,0-7.5c-1.34-2.32-3.815-3.75-6.495-3.75h-75.34c-2.68,0-5.155,1.43-6.495,3.75  s-1.34,5.179,0,7.5l11.365,19.686c2.346,4.063,5.339,7.549,8.796,10.397c-14.329,8.313-23.995,23.813-23.995,41.538v62.997  c0,4.142,3.357,7.5,7.5,7.5h32.998v23.41h-73.362V198.584h155.83v191.985h-67.468v-23.41H362.695z M132.889,286.034  c0.524-1.654,0.941-3.328,1.287-5.011h7.725c0.346,1.683,0.763,3.357,1.287,5.011l1.281,4.044h-12.861L132.889,286.034z   M150.65,241.17c-5.428,7.344-8.656,15.968-9.533,24.853h-6.158c-0.878-8.885-4.105-17.509-9.533-24.854l-9.149-12.378H159.8  L150.65,241.17z M126.855,305.079h22.365l15.205,47.997h-52.776L126.855,305.079z M174.669,368.075c2.391,0,4.639-1.14,6.052-3.069  c1.412-1.929,1.82-4.417,1.098-6.696l-24.332-76.806c-3.38-10.671-1.427-22.417,5.227-31.418l17.987-24.336  c1.683-2.277,1.94-5.308,0.665-7.835c-1.275-2.528-3.865-4.123-6.696-4.123h-73.263c-2.831,0-5.422,1.595-6.696,4.123  c-1.275,2.528-1.018,5.559,0.665,7.835l17.988,24.336c6.653,9.002,8.606,20.748,5.227,31.419L94.257,358.31  c-0.723,2.279-0.314,4.767,1.098,6.696c1.413,1.929,3.661,3.069,6.052,3.069h29.132v22.493H70.505V198.584h155.83v191.985h-80.797  v-22.493H174.669z M317.377,183.584L305.266,35.092h27.864l20.254,148.492H317.377z M302.327,183.584h-37.67L260.94,35.092h29.275  L302.327,183.584z M249.651,183.584h-31.643l3.716-148.492h24.21L249.651,183.584z M203.003,183.584h-37.67l12.111-148.492h29.275  L203.003,183.584z M150.283,183.584h-36.006L134.53,35.092h27.864L150.283,183.584z M99.137,183.584H63.241L91.636,35.092h27.755  L99.137,183.584z M368.523,183.584L348.27,35.092h27.755l28.395,148.492H368.523z M52.793,35.092h23.572L47.97,183.584H17.022  L52.793,35.092z M422.075,432.568H45.595V198.584h9.91v199.485c0,4.142,3.357,7.5,7.5,7.5h341.66c4.143,0,7.5-3.358,7.5-7.5V198.584  h9.91V432.568z M419.691,183.584L391.295,35.092h23.572l35.771,148.492H419.691z"/>
							</svg>
							<span>Gestion vitrine</span>
						</div>
						<svg class="chevron" x-transition:enter.duration.500ms x-transition:leave.duration.400ms :class="open ? 'rotate_open': ''" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
						</svg>
					</div>
					<div class="content_sub_item" x-show="open" style="display:none;">
						<a href="" {% set linkPurchase = "" %} {% if app.request.get("_route") == "app_purchases" %} {% set linkPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewbox="0 0 24 24" fill="none">
									<path d="M22 22L2 22" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
									<path d="M2 11L6.06296 7.74968M22 11L13.8741 4.49931C12.7784 3.62279 11.2216 3.62279 10.1259 4.49931L9.34398 5.12486" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
									<path d="M15.5 5.5V3.5C15.5 3.22386 15.7239 3 16 3H18.5C18.7761 3 19 3.22386 19 3.5V8.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
									<path d="M4 22V9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
									<path d="M20 9.5V13.5M20 22V17.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
									<path d="M15 22V17C15 15.5858 15 14.8787 14.5607 14.4393C14.1213 14 13.4142 14 12 14C10.5858 14 9.87868 14 9.43934 14.4393M9 22V17" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M14 9.5C14 10.6046 13.1046 11.5 12 11.5C10.8954 11.5 10 10.6046 10 9.5C10 8.39543 10.8954 7.5 12 7.5C13.1046 7.5 14 8.39543 14 9.5Z" stroke="#1C274C" stroke-width="1.5"/>
								</svg>
								<span>Section accueil</span>
							</div>
						</a>
						<a href="" {% set linkBigPurchase = "" %} {% if app.request.get("_route") == "app_purchases_big" %} {% set linkBigPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkBigPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" width="15px" height="15px" viewbox="0 0 128 128" id="Layer_1" version="1.1" xml:space="preserve">
									<g>
										<path d="M64,1C29.3,1,1,29.3,1,64s28.3,63,63,63s63-28.3,63-63S98.7,1,64,1z M64,119C33.7,119,9,94.3,9,64S33.7,9,64,9   s55,24.7,55,55S94.3,119,64,119z"/>
										<rect height="40" width="8" x="60" y="54.5"/>
										<rect height="8" width="8" x="60" y="35.5"/>
									</g>
								</svg>
								<span>Section à propos</span>
							</div>
						</a>
						<a href="" {% set linkDetailPurchase = "" %} {% if app.request.get("_route") == "app_purchases_detail" %} {% set linkDetailPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkDetailPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewbox="0 0 512 512">
									<title>ionicons-v5-e</title><path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:;stroke-linejoin:round;stroke-width:32px"/><rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/><ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/><path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
								<span>Section images</span>
							</div>
						</a>
						<a href="" {% set linkDetailPurchase = "" %} {% if app.request.get("_route") == "app_purchases_detail" %} {% set linkDetailPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkDetailPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewbox="0 0 1024 1024" fill="#000000" class="icon" version="1.1"><path d="M975.928 744.598a8.006 8.006 0 0 1-7.856-6.608l-55.538-314.996a7.998 7.998 0 0 1 6.482-9.262c4.216-0.774 8.48 2.124 9.26 6.48l55.54 314.998a8.002 8.002 0 0 1-7.888 9.388zM984.268 791.84a7.99 7.99 0 0 1-7.856-6.606c-7.214-40.824-163.534-48.354-260.38-43.464-4.826 0.218-8.184-3.186-8.386-7.59a7.974 7.974 0 0 1 7.574-8.372c27.098-1.376 264.926-11.34 276.938 56.646a7.992 7.992 0 0 1-6.482 9.26c-0.47 0.094-0.94 0.126-1.408 0.126z" fill=""/><path d="M676.722 521.292a8 8 0 0 1-7.858-6.606 8 8 0 0 1 6.482-9.264c67.906-11.994 241.374-58.66 228.848-129.69a7.998 7.998 0 0 1 6.48-9.262c4.25-0.774 8.496 2.124 9.262 6.48 7.686 43.528-31.5 81.814-116.46 113.792-60.91 22.918-124.708 34.312-125.35 34.422a7.408 7.408 0 0 1-1.404 0.128z" fill=""/><path d="M912.05 382.34a7.992 7.992 0 0 1-7.856-6.614 7.998 7.998 0 0 1 6.48-9.262l31.518-5.544c4.28-0.688 8.512 2.14 9.262 6.498a7.996 7.996 0 0 1-6.482 9.262l-31.516 5.542a8.534 8.534 0 0 1-1.406 0.118z" fill=""/><path d="M1015.754 786.296a8.006 8.006 0 0 1-7.856-6.608l-72.186-409.5a7.996 7.996 0 0 1 6.48-9.262c4.28-0.774 8.496 2.124 9.262 6.482l72.186 409.5a8 8 0 0 1-7.886 9.388z" fill=""/><path d="M984.268 791.84a7.992 7.992 0 0 1-1.374-15.868l31.484-5.542c4.232-0.812 8.48 2.108 9.262 6.48a8 8 0 0 1-6.48 9.262l-31.486 5.542a7.112 7.112 0 0 1-1.406 0.126zM558.12 769.554a8.006 8.006 0 0 1-7.856-6.608l-38.888-220.492a7.912 7.912 0 0 1 1.328-5.966 7.86 7.86 0 0 1 5.154-3.294l157.49-27.77c4.232-0.794 8.48 2.124 9.262 6.482a7.998 7.998 0 0 1-6.482 9.262l-149.62 26.378 36.11 204.75 149.62-26.378c4.28-0.796 8.496 2.124 9.26 6.48a8 8 0 0 1-6.48 9.262l-157.49 27.77c-0.472 0.078-0.94 0.124-1.408 0.124z" fill=""/><path d="M558.134 769.554a7.24 7.24 0 0 1-1.638-0.172l-84.306-17.618a7.96 7.96 0 0 1-6.23-6.436l-27.77-157.49a7.974 7.974 0 0 1 3.656-8.184l73.184-45.384a8.13 8.13 0 0 1 7.482-0.5 7.966 7.966 0 0 1 4.606 5.904l38.888 220.492a7.944 7.944 0 0 1-2.31 7.122 7.934 7.934 0 0 1-5.562 2.266z m-77.37-32.346l67.44 14.104-34.782-197.238-58.552 36.328 25.894 146.806zM710.05 710.27a8.004 8.004 0 0 1-7.856-6.608l-27.77-157.49a8 8 0 0 1 6.48-9.262c4.282-0.796 8.496 2.11 9.262 6.482l27.77 157.49a8 8 0 0 1-7.886 9.388z" fill=""/><path d="M483.092 620.374a7.98 7.98 0 0 1-7.856-6.608 8.016 8.016 0 0 1 6.48-9.278l15.744-2.748c4.28-0.75 8.496 2.124 9.26 6.498a7.974 7.974 0 0 1-6.48 9.244l-15.744 2.782a10.708 10.708 0 0 1-1.404 0.11zM499.74 714.876a7.98 7.98 0 0 1-7.856-6.622 7.974 7.974 0 0 1 6.496-9.246l15.776-2.78c4.278-0.718 8.48 2.154 9.244 6.496a8.014 8.014 0 0 1-6.496 9.278l-15.774 2.748a6.954 6.954 0 0 1-1.39 0.126zM491.432 667.632a8.006 8.006 0 0 1-7.856-6.608 8 8 0 0 1 6.48-9.262l15.744-2.78c4.216-0.812 8.482 2.11 9.26 6.48a8 8 0 0 1-6.48 9.262l-15.744 2.782c-0.466 0.08-0.936 0.126-1.404 0.126zM533.6 538.41a7.994 7.994 0 0 1-1.376-15.868l31.486-5.56c4.216-0.774 8.48 2.124 9.262 6.48a7.998 7.998 0 0 1-6.482 9.262l-31.484 5.56c-0.468 0.08-0.938 0.126-1.406 0.126zM773.038 975.242a7.982 7.982 0 0 1-7.138-4.406l-75.028-149.148c-1.984-3.954-0.406-8.762 3.544-10.73 3.904-2 8.73-0.422 10.73 3.544l75.028 149.15c1.984 3.952 0.406 8.762-3.544 10.73a7.8 7.8 0 0 1-3.592 0.86zM694.292 989.14a7.98 7.98 0 0 1-7.136-4.404l-75.03-149.182c-1.982-3.952-0.404-8.762 3.546-10.728 3.92-2 8.73-0.438 10.728 3.544l75.03 149.182c1.982 3.952 0.406 8.762-3.546 10.728a7.764 7.764 0 0 1-3.592 0.86z" fill=""/><path d="M678.502 991.906a7.992 7.992 0 0 1-7.856-6.608 7.992 7.992 0 0 1 6.48-9.262l110.264-19.444c4.246-0.796 8.48 2.108 9.26 6.48a8 8 0 0 1-6.48 9.262l-110.262 19.446a6.964 6.964 0 0 1-1.406 0.126zM582.204 814.034a8 8 0 0 1-7.856-6.606l-3.124-17.726a7.992 7.992 0 0 1 6.482-9.262c4.232-0.812 8.48 2.124 9.26 6.482l3.124 17.726a8 8 0 0 1-7.886 9.386z" fill=""/><path d="M582.204 814.034a8.004 8.004 0 0 1-7.872-6.636 8.01 8.01 0 0 1 6.528-9.246l141.81-24.52a8.08 8.08 0 0 1 9.244 6.528 8.01 8.01 0 0 1-6.528 9.246l-141.81 24.52c-0.452 0.06-0.92 0.108-1.372 0.108z" fill=""/><path d="M724.012 789.514a8.004 8.004 0 0 1-7.856-6.608l-2.78-15.742a8 8 0 0 1 6.48-9.262c4.264-0.796 8.496 2.124 9.262 6.482l2.78 15.742a8 8 0 0 1-7.886 9.388zM1015.77 527.868a7.99 7.99 0 0 1-7.996-7.996V40.092c0-4.42 3.576-7.998 7.996-7.998s7.996 3.578 7.996 7.998v479.78a7.99 7.99 0 0 1-7.996 7.996zM104.186 751.766a7.992 7.992 0 0 1-7.996-7.996V40.092a7.994 7.994 0 0 1 7.996-7.998 7.994 7.994 0 0 1 7.998 7.998v703.678a7.992 7.992 0 0 1-7.998 7.996z" fill=""/><path d="M56.208 799.742a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996c22.052 0 39.982-17.93 39.982-39.98a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996c0 30.858-25.114 55.972-55.976 55.972z" fill=""/><path d="M56.208 799.742c-30.862 0-55.974-25.114-55.974-55.972 0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996c0 22.05 17.93 39.98 39.982 39.98a7.992 7.992 0 0 1 7.996 7.996 7.988 7.988 0 0 1-7.996 7.996z" fill=""/><path d="M8.23 751.766a7.99 7.99 0 0 1-7.996-7.996V88.068c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996v655.702a7.99 7.99 0 0 1-7.996 7.996zM72.202 751.766a7.99 7.99 0 0 1-7.996-7.996V56.084c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996v687.686a7.99 7.99 0 0 1-7.996 7.996zM40.216 751.766a7.992 7.992 0 0 1-7.996-7.996V72.076a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996v671.694a7.994 7.994 0 0 1-7.998 7.996z" fill=""/><path d="M56.208 767.758c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996a8.012 8.012 0 0 0 7.996-7.996c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996c0.002 13.226-10.758 23.988-23.988 23.988z" fill=""/><path d="M56.208 767.758c-13.228 0-23.99-10.762-23.99-23.988a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996 8.012 8.012 0 0 0 7.996 7.996c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996zM505.502 799.742H56.208a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996h449.294a7.994 7.994 0 0 1 7.998 7.996 7.992 7.992 0 0 1-7.998 7.996zM1015.77 48.088H104.186a7.994 7.994 0 0 1-7.996-7.996 7.994 7.994 0 0 1 7.996-7.998h911.584a7.992 7.992 0 0 1 7.996 7.998 7.992 7.992 0 0 1-7.996 7.996zM951.798 208.014H200.142a7.99 7.99 0 0 1-7.996-7.996V104.062a7.992 7.992 0 0 1 7.996-7.998h751.656a7.992 7.992 0 0 1 7.996 7.998v95.956a7.99 7.99 0 0 1-7.996 7.996z m-743.66-15.992h735.664V112.058H208.138v79.964z" fill=""/><path d="M903.82 160.036H248.12c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h655.7c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996zM919.812 799.742h-143.934a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996h143.934a7.99 7.99 0 0 1 7.996 7.996 7.988 7.988 0 0 1-7.996 7.996zM424.042 415.918h-223.9a7.99 7.99 0 0 1-7.996-7.996v-143.934a7.99 7.99 0 0 1 7.996-7.996H424.04a7.992 7.992 0 0 1 7.996 7.996v143.934a7.99 7.99 0 0 1-7.994 7.996z m-215.904-15.992h207.906v-127.942H208.138v127.942z" fill=""/><path d="M296.1 399.926a8.008 8.008 0 0 1-6.404-12.792l47.978-63.97a8.014 8.014 0 0 1 11.198-1.6 8.006 8.006 0 0 1 1.61 11.19l-47.978 63.97a8 8 0 0 1-6.404 3.202z" fill=""/><path d="M392.054 399.926a7.992 7.992 0 0 1-6.402-3.202l-47.978-63.97a8.004 8.004 0 0 1 1.608-11.19 7.996 7.996 0 0 1 11.198 1.6l47.978 63.97a8.008 8.008 0 0 1-6.404 12.792zM248.122 399.926a7.998 7.998 0 0 1-6.654-12.432l31.986-47.978a8.008 8.008 0 0 1 11.088-2.216 7.998 7.998 0 0 1 2.218 11.088l-31.986 47.978a7.992 7.992 0 0 1-6.652 3.56z" fill=""/><path d="M290.758 367.942a7.994 7.994 0 0 1-6.654-3.56l-10.652-15.994a7.994 7.994 0 0 1 2.218-11.088c3.638-2.454 8.622-1.46 11.088 2.216l10.65 15.994a7.994 7.994 0 0 1-6.65 12.432zM248.122 335.956c-13.228 0-23.99-10.76-23.99-23.988s10.76-23.99 23.99-23.99 23.988 10.762 23.988 23.99-10.76 23.988-23.988 23.988z m0-31.986c-4.404 0-7.996 3.584-7.996 7.996s3.592 7.996 7.996 7.996 7.996-3.584 7.996-7.996-3.592-7.996-7.996-7.996z" fill=""/><path d="M679.924 271.984H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M679.924 319.962H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M679.924 367.942H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.998 7.998-7.998h207.906c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""/><path d="M679.924 415.918H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M679.924 463.896H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M504.004 511.876h-31.986c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h31.986c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M424.79 463.896H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M392.804 655.808h-191.912c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h191.912c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M408.796 703.788H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h207.904c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M424.79 751.766H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M424.79 511.876H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M408.796 559.854H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.998 7.996-7.998h207.904c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""/><path d="M392.804 607.832h-191.912a7.992 7.992 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.998h191.912a7.992 7.992 0 0 1 7.996 7.998 7.992 7.992 0 0 1-7.996 7.996z" fill=""/><path d="M951.798 271.984H727.902c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h223.896c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M951.798 319.962H727.902c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h223.896c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M871.836 367.942h-143.934c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.998 7.998-7.998h143.934c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""/><path d="M823.858 415.918h-95.956c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h95.956c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/><path d="M743.894 463.896h-15.992c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h15.992c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""/></svg>
								<span>Section actualité</span>
							</div>
						</a>
						<a href="" {% set linkDetailPurchase = "" %} {% if app.request.get("_route") == "app_purchases_detail" %} {% set linkDetailPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkDetailPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewbox="0 0 48 48" id="b">
									<defs>
										<style>
											.c {
												fill: none;
												stroke: #000000;
												stroke-linecap: round;
												stroke-linejoin: round;
											}
										</style>
									</defs>
									<g>
										<path class="c" d="m7.1972,25.8996c.2982.3882.6722.5328,1.1924.5328h.72c.67,0,1.2132-.5432,1.2132-1.2132v-.0052c0-.67-.5431-1.2132-1.2132-1.2132h-.7942c-.6707,0-1.2145-.5437-1.2145-1.2145h0c0-.6722.5449-1.2171,1.2171-1.2171h.716c.5202,0,.8942.1446,1.1924.5328"></path>
										<g>
											<g>
												<line class="c" x1="13.1777" y1="24.0005" x2="14.7631" y2="24.0005"></line>
												<polyline class="c" points="15.1861 26.4319 12.7546 26.4319 12.7546 21.5687 15.1861 21.5687"></polyline>
												<path class="c" d="m17.6177,26.4321v-4.8632h1.5921c.9001,0,1.6298.7312,1.6298,1.6333s-.7297,1.6333-1.6298,1.6333h-1.5921"></path>
												<line class="c" x1="19.2104" y1="24.8357" x2="20.8019" y2="26.4309"></line>
												<polyline class="c" points="26.4926 21.569 24.8817 26.4322 23.2707 21.569"></polyline>
												<path class="c" d="m28.9246,21.5689v4.8634"></path>
											</g>
											<path class="c" d="m34.5781,24.8216c0,.8897-.7212,1.6109-1.6109,1.6109s-1.6109-.7212-1.6109-1.6109v-1.6413c0-.8897.7212-1.6109,1.6109-1.6109h0c.8897,0,1.6109.7212,1.6109,1.6109"></path>
											<line class="c" x1="37.0096" y1="24.0005" x2="38.595" y2="24.0005"></line>
											<polyline class="c" points="39.4412 26.4319 37.0096 26.4319 37.0096 21.5687 39.4412 21.5687"></polyline>
										</g>
									</g>
									<g>
										<path class="c" d="m28.8737,42.5l-4.4403-13.6619m-3.1416-9.6665l-4.4434-13.6716"></path>
										<path class="c" d="m28.8737,42.5l4.4304-13.6315m3.1743-9.767l4.4206-13.6011"></path>
										<path class="c" d="m16.8483,5.5002h24.0508"></path>
									</g>
								</svg>
								<span>Section services</span>
							</div>
						</a>
						<a href="" {% set linkDetailPurchase = "" %} {% if app.request.get("_route") == "app_purchases_detail" %} {% set linkDetailPurchase = "currentLink" %} {% endif %}>
							<div class="item_link {{linkDetailPurchase}}">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="15px" height="15px" viewbox="0 0 52 52" data-name="Layer 1">
									<g>
										<path d="M31.9,39.5h6A1.42,1.42,0,0,0,39.4,38V14a1.42,1.42,0,0,0-1.5-1.5h-6A1.42,1.42,0,0,0,30.4,14V38A1.42,1.42,0,0,0,31.9,39.5Z"/>
										<path d="M45.4,39.5h3A1.42,1.42,0,0,0,49.9,38V14a1.42,1.42,0,0,0-1.5-1.5h-3A1.42,1.42,0,0,0,43.9,14V38A1.42,1.42,0,0,0,45.4,39.5Z"/>
										<path d="M25,39.5h0A1.37,1.37,0,0,0,26.5,38V14A1.42,1.42,0,0,0,25,12.5h0A1.42,1.42,0,0,0,23.5,14V38A1.37,1.37,0,0,0,25,39.5Z"/>
										<path d="M16.6,39.5H18A1.42,1.42,0,0,0,19.5,38V14A1.42,1.42,0,0,0,18,12.5H16.5A1.42,1.42,0,0,0,15,14V38A1.45,1.45,0,0,0,16.6,39.5Z"/>
										<path d="M3.6,39.5h6A1.42,1.42,0,0,0,11.1,38V14a1.42,1.42,0,0,0-1.5-1.5h-6A1.42,1.42,0,0,0,2.1,14V38A1.47,1.47,0,0,0,3.6,39.5Z"/>
									</g>
								</svg>
								<span>Section produits</span>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
