<nav>
	<header>
		<div class="container_navigation_bar">
			<div class="navigation_bar">
				<div class="logo">
					<a href="{{path('app_home')}}">
						<h3>Pakadan</h3>
					</a>
				</div>
				<a href="" class="publish_service">
					<div class="post_products">
						<svg width="15px" height"15px" viewbox="0 0 24 24" data-title="AddSquareOutline" fill="currentColor" stroke="none" class="fill-current shrink-0 text-current w-sz-16 h-sz-16" data-spark-component="icon" aria-hidden="true" focusable="false">
							<path d="m12,6.84c.56,0,1.01.45,1.01,1.01v3.14h3.14c.56.02.99.5.96,1.05-.02.52-.44.94-.96.96h-3.14v3.14c0,.56-.45,1.01-1.01,1.01-.56,0-1.01-.45-1.01-1.01h0v-3.14h-3.14c-.56,0-1.01-.45-1.01-1.01,0-.56.45-1.01,1.01-1.01h3.14v-3.14c0-.56.45-1.01,1.01-1.01h0Z"></path>
							<path fill-rule="evenodd" d="m7.16,2c-2.85,0-5.16,2.31-5.16,5.16h0v9.68c0,2.85,2.31,5.16,5.16,5.16h9.68c2.85,0,5.16-2.31,5.16-5.16V7.16c0-2.85-2.31-5.16-5.16-5.16H7.16Zm-3.14,5.16c0-1.73,1.4-3.14,3.14-3.14h9.68c1.73,0,3.14,1.4,3.14,3.14h0v9.68c0,1.73-1.4,3.14-3.14,3.14H7.16c-1.73,0-3.14-1.4-3.14-3.14h0V7.16h0Z"></path>
						</svg>
						<span>Reserver</span>
					</div>
				</a>
				<div class="container_search">
					<div class="input">
						<input type="text" name="" id="" placeholder="Rechercher sur Pakadan">
						<div class="svg">
							<svg width="30px" height"30px" viewbox="0 0 24 24" data-title="Search" fill="currentColor" stroke="none" class="fill-current shrink-0 text-current w-sz-16 h-sz-16" data-spark-component="icon" aria-hidden="true" focusable="false">
								<path fill-rule="evenodd" d="m10.5,3.95c-3.62,0-6.55,2.93-6.55,6.55s2.93,6.55,6.55,6.55,6.55-2.93,6.55-6.55-2.93-6.55-6.55-6.55ZM2,10.5C2,5.81,5.81,2,10.5,2s8.5,3.81,8.5,8.5-3.81,8.5-8.5,8.5S2,15.2,2,10.5Z"></path>
								<path fill-rule="evenodd" d="m15.13,15.13c.38-.38,1-.38,1.38,0l5.21,5.21c.38.38.38,1,0,1.38-.38.38-1,.38-1.38,0l-5.21-5.21c-.38-.38-.38-1,0-1.38Z"></path>
							</svg>
						</div>
					</div>
				</div>
				<div class="container_item_annexe">
					<a href="{{path('app_notifications')}}" class="link_annexe notify">
						<div class="item_annexe">
							<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AlarmOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
								<path fill-rule="evenodd" d="m14.1,4.03c1.05.34,2.02.92,2.81,1.72,1.3,1.31,2.03,3.08,2.03,4.93,0,2.8.47,4.35.96,5.25.39.72.58,1.6.26,2.39-.36.88-1.21,1.3-2.15,1.3h-2.94c-.18.69-.58,1.29-1.13,1.72-.56.43-1.24.66-1.95.66s-1.39-.23-1.95-.66c-.56-.43-.96-1.03-1.13-1.72h0s-2.94,0-2.94,0c-.95,0-1.79-.42-2.15-1.3-.32-.79-.13-1.67.26-2.39.49-.9.96-2.44.96-5.25,0-1.85.73-3.62,2.03-4.93.79-.8,1.76-1.38,2.81-1.72.04-1.13.97-2.03,2.1-2.03s2.06.9,2.1,2.03Zm-2.1,1.69c1.31,0,2.56.52,3.48,1.45.92.93,1.44,2.19,1.44,3.5,0,3.02.51,4.93,1.21,6.21.22.41.17.63.16.66h0s-.09.05-.28.05H5.98c-.18,0-.26-.04-.28-.05h0s-.06-.25.16-.66c.7-1.29,1.21-3.2,1.21-6.22,0-1.31.52-2.57,1.44-3.5.92-.93,2.18-1.45,3.48-1.45Z"></path>
							</svg>
							<span>Notifications</span>
						</div>
					</a>
					<a href="{{path('app_favorite')}}" class="link_annexe favorite">
						<div class="item_annexe">
							<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="LikeOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
								<path d="m16.28,3c-1.72,0-3.24.83-4.28,2.11-1.04-1.28-2.57-2.11-4.28-2.11-3.21,0-5.72,2.85-5.72,6.24,0,2.77,1.41,4.75,1.97,5.51,1.87,2.47,4.38,4.11,6.67,5.6h.02c.25.17.49.33.73.49.32.21.73.22,1.06.02.21-.13.43-.26.63-.39h.02c2.39-1.48,5.02-3.1,6.95-5.68.64-.86,1.95-2.83,1.95-5.54,0-3.4-2.51-6.23-5.72-6.23h0Zm-8.57,2.12c1.46,0,2.76.96,3.35,2.39.16.38.52.64.93.64s.77-.25.93-.64c.6-1.44,1.9-2.39,3.36-2.39,1.99,0,3.7,1.79,3.69,4.13,0,2-.98,3.5-1.52,4.24-1.67,2.25-3.98,3.67-6.43,5.19l-.07.04-.21-.13c-2.33-1.52-4.54-2.97-6.18-5.14-.51-.67-1.54-2.18-1.54-4.2,0-2.33,1.7-4.13,3.7-4.13h0Z"></path>
							</svg>
							<span>Favoris</span>
						</div>
					</a>

					{% if app.user %}
						<a href="{{path('app_shopping_cart')}}" class="link_annexe favorite shoppingCart">
							<div class="item_annexe">
								<svg width="25px" height"25px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
								</svg>

								<span>Panier</span>
							</div>
							{% if shoppingCart %}
								<div class="cartCount">
									<small>{{shoppingCart|length}}</small>
								</div>
							{% endif %}

						</a>
					{% endif %}
					{% if app.user %}
						<div class="item_annexe item_annexe_user_connect" x-data="{open:false}">
							<h2 @click="open= !open">
								{% if app.user %}
									{% if app.user.noms %}
										{% if app.user.noms|split(" ")|length > 1 %}
											{{app.user.noms|split(" ")[0]|split("")[0]}}
											{{app.user.noms|split(" ")[1]|split("")[0]}}
										{% else %}
											{{app.user.noms|split(" ")[0]|split("")[0]}}
										{% endif %}
									{% endif %}
									{% else %}

								{% endif %}
							</h2>
							<div class="connect_links" x-show="open" style="display:none;" @click.outside="open=false">
								<div class="links">
									<a href="{{path('app_user_account')}}">
										<div class="item">
											<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AccountOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
												<path fill-rule="evenodd" d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"></path>
											</svg>
											<span>Mon compte</span>
										</div>
									</a>
									<a href="{{path('app_out')}}" data-turbo="false">
										<div class="item">
											<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"></path>
											</svg>
											<span>Se déconnecter</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					{% else %}
						<a href="{{path('app_login_customer')}}" class="link_annexe login">
							<div class="item_annexe">
								<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AccountOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
									<path fill-rule="evenodd" d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"></path>
								</svg>
								<span class="connect">
									<span>Se</span>
									connecter</span>
							</div>
						</a>
					{% endif %}


				</div>
			</div>
			<div class="sub_navigation_bar">
				<nav class="bottom_nav">
					<ul class="list_categories">
						<button class="show_side_bar">
							<svg width="30px" height="30px" viewbox="0 0 24 24" data-title="BurgerMenu" fill="currentColor" stroke="none" class="fill-current shrink-0 text-support w-sz-32 h-sz-32" data-spark-component="icon" aria-hidden="true" focusable="false">
								<path fill-rule="evenodd" d="m2,5.12c0-.62.45-1.12,1-1.12h18c.55,0,1,.5,1,1.12s-.45,1.12-1,1.12H3c-.55,0-1-.5-1-1.12Zm0,6.88c0-.62.45-1.12,1-1.12h18c.55,0,1,.5,1,1.12s-.45,1.12-1,1.12H3c-.55,0-1-.5-1-1.12Zm0,6.88c0-.62.45-1.12,1-1.12h18c.55,0,1,.5,1,1.12s-.45,1.12-1,1.12H3c-.55,0-1-.5-1-1.12Z"></path>
							</svg>

						</button>
						{# {% set table = [
																																					{"factory":"Entreprises","url":path('app_category')},
																																					{"factory":"Asbl","url":path('app_category')},
																																					{"factory":"Sociétés","url":path('app_category')},
																																					{"factory":"Boutiques","url":path('app_category')},
																																					{"factory":"Magasins","url":path('app_category')},
																																					{"factory":"Hôtels","url":path('app_category')},
																																					{"factory":"Alimentations","url":path('app_category')},
																																					{"factory":"Restaurants","url":path('app_category')},
																																					{"factory":"Supermarchés","url":path('app_category')},
																																					{"factory":"Autres","url":path('app_category')},
																																				] %} #}
						<div class="container_bottom_nav">
							{% for item in categories %}
								<a href="{{path('app_category' , {id: item.id})}}">
									<small></small>
									<li>{{item.name}}</li>
								</a>
							{% endfor %}
						</div>
						<div class="container_social_link">
							<a href="">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewbox="0 0 20 20" version="1.1">

									<title>instagram [#167]</title>
									<desc>Created with Sketch.</desc>
									<defs></defs>
									<g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
										<g id="Dribbble-Light-Preview" transform="translate(-340.000000, -7439.000000)" fill="currentColor">
											<g id="icons" transform="translate(56.000000, 160.000000)">
												<path d="M289.869652,7279.12273 C288.241769,7279.19618 286.830805,7279.5942 285.691486,7280.72871 C284.548187,7281.86918 284.155147,7283.28558 284.081514,7284.89653 C284.035742,7285.90201 283.768077,7293.49818 284.544207,7295.49028 C285.067597,7296.83422 286.098457,7297.86749 287.454694,7298.39256 C288.087538,7298.63872 288.809936,7298.80547 289.869652,7298.85411 C298.730467,7299.25511 302.015089,7299.03674 303.400182,7295.49028 C303.645956,7294.859 303.815113,7294.1374 303.86188,7293.08031 C304.26686,7284.19677 303.796207,7282.27117 302.251908,7280.72871 C301.027016,7279.50685 299.5862,7278.67508 289.869652,7279.12273 M289.951245,7297.06748 C288.981083,7297.0238 288.454707,7296.86201 288.103459,7296.72603 C287.219865,7296.3826 286.556174,7295.72155 286.214876,7294.84312 C285.623823,7293.32944 285.819846,7286.14023 285.872583,7284.97693 C285.924325,7283.83745 286.155174,7282.79624 286.959165,7281.99226 C287.954203,7280.99968 289.239792,7280.51332 297.993144,7280.90837 C299.135448,7280.95998 300.179243,7281.19026 300.985224,7281.99226 C301.980262,7282.98483 302.473801,7284.28014 302.071806,7292.99991 C302.028024,7293.96767 301.865833,7294.49274 301.729513,7294.84312 C300.829003,7297.15085 298.757333,7297.47145 289.951245,7297.06748 M298.089663,7283.68956 C298.089663,7284.34665 298.623998,7284.88065 299.283709,7284.88065 C299.943419,7284.88065 300.47875,7284.34665 300.47875,7283.68956 C300.47875,7283.03248 299.943419,7282.49847 299.283709,7282.49847 C298.623998,7282.49847 298.089663,7283.03248 298.089663,7283.68956 M288.862673,7288.98792 C288.862673,7291.80286 291.150266,7294.08479 293.972194,7294.08479 C296.794123,7294.08479 299.081716,7291.80286 299.081716,7288.98792 C299.081716,7286.17298 296.794123,7283.89205 293.972194,7283.89205 C291.150266,7283.89205 288.862673,7286.17298 288.862673,7288.98792 M290.655732,7288.98792 C290.655732,7287.16159 292.140329,7285.67967 293.972194,7285.67967 C295.80406,7285.67967 297.288657,7287.16159 297.288657,7288.98792 C297.288657,7290.81525 295.80406,7292.29716 293.972194,7292.29716 C292.140329,7292.29716 290.655732,7290.81525 290.655732,7288.98792" id="instagram-[#167]"></path>
											</g>
										</g>
									</g>
								</svg>
							</a>
							<a href="https://api.whatsapp.com/send?phone=+905512747835&text=Modainteriordesign">
								<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewbox="0 0 24 24" fill="currentColor">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M3.50002 12C3.50002 7.30558 7.3056 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C10.3278 20.5 8.77127 20.0182 7.45798 19.1861C7.21357 19.0313 6.91408 18.9899 6.63684 19.0726L3.75769 19.9319L4.84173 17.3953C4.96986 17.0955 4.94379 16.7521 4.77187 16.4751C3.9657 15.176 3.50002 13.6439 3.50002 12ZM12 1.5C6.20103 1.5 1.50002 6.20101 1.50002 12C1.50002 13.8381 1.97316 15.5683 2.80465 17.0727L1.08047 21.107C0.928048 21.4637 0.99561 21.8763 1.25382 22.1657C1.51203 22.4552 1.91432 22.5692 2.28599 22.4582L6.78541 21.1155C8.32245 21.9965 10.1037 22.5 12 22.5C17.799 22.5 22.5 17.799 22.5 12C22.5 6.20101 17.799 1.5 12 1.5ZM14.2925 14.1824L12.9783 15.1081C12.3628 14.7575 11.6823 14.2681 10.9997 13.5855C10.2901 12.8759 9.76402 12.1433 9.37612 11.4713L10.2113 10.7624C10.5697 10.4582 10.6678 9.94533 10.447 9.53028L9.38284 7.53028C9.23954 7.26097 8.98116 7.0718 8.68115 7.01654C8.38113 6.96129 8.07231 7.046 7.84247 7.24659L7.52696 7.52195C6.76823 8.18414 6.3195 9.2723 6.69141 10.3741C7.07698 11.5163 7.89983 13.314 9.58552 14.9997C11.3991 16.8133 13.2413 17.5275 14.3186 17.8049C15.1866 18.0283 16.008 17.7288 16.5868 17.2572L17.1783 16.7752C17.4313 16.5691 17.5678 16.2524 17.544 15.9269C17.5201 15.6014 17.3389 15.308 17.0585 15.1409L15.3802 14.1409C15.0412 13.939 14.6152 13.9552 14.2925 14.1824Z" fill="currentColor"/>
								</svg>
							</a>
						</div>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="left_navigation_bar">
		<div class="container_left_navigation">
			<div class="exit  exit_side_bar">
				<svg width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
				</svg>
			</div>
			<div class="header">
				<div class="icon">
					<svg width="25px" height"25px" viewbox="0 0 24 24" data-title="AccountOutline" fill="currentColor" stroke="none" data-test-id="icon" class="fill-current shrink-0 text-current w-sz-24 h-sz-24" data-spark-component="icon" aria-hidden="true" focusable="false">
						<path fill-rule="evenodd" d="m12,4.19c-1.6,0-2.93,1.26-2.93,2.84s1.33,2.84,2.93,2.84,2.93-1.26,2.93-2.84-1.33-2.84-2.93-2.84Zm-5.23,2.84c0-2.77,2.32-5.03,5.23-5.03s5.23,2.27,5.23,5.03-2.32,5.03-5.23,5.03-5.23-2.27-5.23-5.03Zm5.23,8.54c-1.85,0-3.63.71-4.95,1.98-1.01.97-1.68,2.21-1.94,3.55-.12.6-.72.99-1.34.88-.63-.11-1.04-.68-.92-1.28.34-1.76,1.23-3.4,2.56-4.69,1.74-1.68,4.11-2.63,6.59-2.63s4.84.95,6.59,2.63c1.34,1.29,2.22,2.93,2.56,4.69.12.6-.3,1.17-.92,1.28-.63.11-1.23-.28-1.34-.88-.26-1.34-.93-2.58-1.94-3.55-1.31-1.27-3.09-1.98-4.95-1.98Z"></path>
					</svg>
				</div>
				<div class="subscription">
					<b>Hello , Créer votre compte</b>
				</div>
			</div>
			{% set table = [] %}

			{% for item in categories %}

				{% set items = [] %}

				{% for categoryItem in item.categoryItems %}
					{% set items = items|merge([{
						"name":categoryItem.name,
						"key":categoryItem.id
					}]) %}
				{% endfor %}

				{% set table = table|merge(
					[{ 
						"name" : item.name , 
						"items" : items, 
					}]
				)
						
				 %}
			{% endfor %}
			<div {{svelte_component("Hello" , {category: table} )}}></div>
			{# <div class="container_all_sub_items">
																					
																									<div class="container_sub_items container_sub_items_main">
																										<div class="sub_items">
																											<div class="item_title">
																												<span>Tendances</span>
																											</div>
																											<div class="container_items">
																												<ul>
																													<a href="">
																														<li>Meilleures ventes</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																												</ul>
																											</div>
																										</div>
																					
																										<div class="sub_items">
																											<div class="item_title">
																												<span>Tendances & Services</span>
																											</div>
																											<div class="container_items">
																												<ul>
																													<ul>
																													<li class="special_list">
																														<button>
																															<span>Visibilité numérique</span>
																															<svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
																																<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
																															</svg>
																														</button>
																					
																													</li>
																													<li class="special_list">
																														<button >
																															<span>Visibilité numérique</span>
																															<svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
																																<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
																															</svg>
																														</button>
																					
																													</li>
																													<li class="special_list">
																														<button >
																															<span>Visibilité numérique</span>
																															<svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
																																<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
																															</svg>
																														</button>
																													</li>
																												</ul>
																												</ul>
																											</div>
																										</div>
																									</div>
																					
																									<div class="container_sub_items container_sub_items_secondary">
																										<div class="sub_items">
																											<div class="item_title">
																												<svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
																													<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
																												</svg>
																												<span>Tendances secondary</span>
																											</div>
																											<div class="item_title">
																												<span>Tendances secondary</span>
																											</div>
																											<div class="container_items">
																												<ul>
																													<a href="">
																														<li>Meilleures ventes</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																													<a href="">
																														<li>Nouveautés</li>
																													</a>
																												</ul>
																											</div>
																										</div>
																									</div>
																								</div> #}

		</div>
	</div>
</nav>
<div class="overlay"></div>
