<div{{attributes}}>
	<div class="container_admin_newsletter_contact">
		<div class="container_admin_newsletter">
			<h3>Newsletter</h3>
			<div class="container_table">
				<div class="header_table">
					<div></div>
					<div class="add_product">
						<a href="">Envoyer un message</a>
					</div>
				</div>
				<div class="table">
					<table>
						<thead>
							<th>N°</th>
							<th>Email</th>
						</thead>
						<tbody>
							{% set data = this.getDataNewsLetter() %}
							{% if data.getTotalItemCount == 0 %}
								<tr class="no_data">
									<td colspan="2">
										<span>Aucun élément trouvé</span>
										<div class="content">
											<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
											</svg>
										</div>
									</td>
								</tr>
								{% else %}
							{% endif %}
							{% for key,item in data %}
								<tr>
									<td>{{ key + 1 }}</td>
									<td>{{item.email}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="container_pagination">
					<div class="navigation"></div>
					<div class="input_select">
						<select name="" id="" data-model="query_select">
							{% for item in range(10,100, 10) %}
								<option value="{{item}}">{{item}}</option>
							{% endfor %}
						</select>
					</div>

				</div>
			</div>
		</div>
		<div class="container_admin_contact">
			<h3>Contact</h3>
			{% set dataContact = this.getDataContact() %}
			<div class="container_items_contact container_items_contact_message">
				{% if dataContact.getTotalItemCount == 0 %}
					<div class="container_table">
						<div class="table">
							<table>
								<tbody>
									<tr class="no_data">
										<td colspan="2">
											<span>Aucun élément trouvé</span>
											<div class="content">
												<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
												</svg>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				{% else %}

					{% for item in dataContact %}
						<div class="item_contact">
							<div class="header_item">
								<div class="left">
									<div class="item">
										<strong>Noms :</strong>
										<span>{{item.noms}}</span>
									</div>
									<div class="item">
										<strong>Téléphone :</strong>
										<span>{{item.telephone}}</span>
									</div>
								</div>
								<div class="right">
									<div class="item">
										<strong>{{item.email}}</strong>
									</div>
									<div class="item">
										<small>{{item.createdAt|date("d/m/Y")}}</small>
									</div>
								</div>
							</div>
							<div class="body_item">
								<p>{{item.message|nl2br}}</p>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="container_pagination">
				<div class="navigation"></div>
				<div class="input_select">
					<select name="" id="" data-model="query_select_contact">
						{% for item in range(10,100, 10) %}
							<option value="{{item}}">{{item}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>

	</div>
</div>
