{% extends 'base.html.twig' %}

{% block title %}Pakadan | Admin | Factories | detail
{% endblock %}

{% block body %}
	{% if category %}
		<div class="container_admin_factory_detail">
			<div class="container_factory_detail_information">
				<div class="content_factory_detail_information">
					<h3>Informations sur l'entreprise</h3>
					<div class="container_item">
						<div class="item">
							<strong>Nom de l'entreprise</strong>
							<span>{{category.name}}</span>
						</div>
						<div class="item">
							<strong>Catégorie</strong>
							<span>{{category.category.name}}</span>
						</div>
						<div class="item">
							<strong>Sous-Catégorie</strong>
							<span>{{category.categoryItem.name}}</span>
						</div>
						<div class="item">
							<strong>Adresse</strong>
							<span>{{category.adresse}}</span>
						</div>
						<div class="item factory_description">
							<strong>Description</strong>
							<span>{{category.description|nl2br}}</span>
						</div>
					</div>
					<div class="container_image">
						<div class="image">
							<img src="/images/{{category.imageName[0]}}" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="container_factory_right_part">
				<div class="container_new_item container_new_item_detail">
					<h3>Modifier les informations</h3>
					<div class="container_form">
						{{ form_start(form, {'method': 'POST' , 'enctype': 'multipart/form-data'}) }}
						{{ form_widget(form) }}
						{# {{ dump(files|json_encode) }} #}
						<div {{svelte_component("Edit" , {file: files|json_encode } )}}></div>

						<div class="input_submit">
							<button type="submit">Modifier</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
